<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383352111292-697b31gjvha8g9mj6lvgnm8q79o39udp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383352111292-697b31gjvha8g9mj6lvgnm8q79o39udp</string>
	<key>API_KEY</key>
	<string>AIzaSyDk9g0t1Wfz8LkBf1NmlPYIcTSvyNnC2h8</string>
	<key>GCM_SENDER_ID</key>
	<string>383352111292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qizoSignIn</string>
	<key>PROJECT_ID</key>
	<string>qizo-sign-in</string>
	<key>STORAGE_BUCKET</key>
	<string>qizo-sign-in.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383352111292:ios:1172c5d90024d3bc7910b9</string>
</dict>
</plist>